<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link href="../Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="App">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" ui-sref="clientes">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Facturas</a>
            </li>
        </ul>

        <div ui-view>

        </div>
    </div>


    <script src="../Bootstrap/js/jquery-3.1.1.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-ui-router.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="Clientes/ClienteController.js"></script>
    <script src="Clientes/ClienteService.js"></script>
</body>
</html>